@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/IVeH6A3MiFyaSEiudUMXExNcqx07xvyppV96iFRdwiM.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
html, body {
    height: 100%;
	width:100%;
    font-size: 16px;
    color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    vertical-align: baseline;
	padding:0;
	margin:0;
}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #999; 
}
ul,label{
	margin:0;
	padding:0;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:active,a:hover,a:focus {outline: none; text-decoration: none;}
.container-fluid{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}
button:focus {outline: none;}
:before,
:after {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

/***********============================================== header_topbar =====================================================***********/
@media only screen and (max-width: 600px) {.header_topbar{padding: 0px 0px 0px 0px;} .logo{text-align:center;} .logo img{margin:0 auto; text-align:center;} }
@media only screen and (min-width: 600px) {.header_topbar{padding: 0px 0px 0px 0px;} .logo{text-align:center;} .logo img{margin:0 auto; text-align:center;} }
@media only screen and (min-width: 768px) {.header_topbar{padding: 0px 20px 15px 20px;} .logo{text-align:left;} .logo img{margin:0px 0px; text-align:left;}}
@media only screen and (min-width: 992px) {.header_topbar{padding: 0px 20px 15px 20px;} .logo{text-align:left;} .logo img{margin:0px 0px; text-align:left;} }
@media only screen and (min-width: 1200px) {.header_topbar{padding: 0px 50px 15px 50px;} .logo{text-align:left;} .logo img{margin:0px 0px; text-align:left;} }
@media only screen and (min-width: 1500px) {.header_topbar{padding: 0px 50px 20px 50px;} .logo{text-align:left;} .logo img{margin:0px 0px; text-align:left;} }
.header_topbar{
    display:block; 
    position:relative; 
    z-index:99; 
}
.header_topbar .mt10{margin-top:13px;}
.header_topbar .mt15{margin-top:15px;}
.header_topbar .mt30{margin-top:30px;}
.header_topbar .mt5{margin-top:5px;}

.header_topbar .logo img{    
    overflow: hidden;
    margin-top: 8px;
}
.header_topbar .mt30{margin-top:30px;}
.header_topbar .mt15{margin-top:15px;}
header{position:relative; width:100%; font-size:16px; font-weight:400; font-family: 'Arima', cursive;}
nav{position:relative;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:"";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family: 'Arima', cursive;}
#cssmenu > ul {padding-left:0px;}
#cssmenu > ul.pull-right{padding-top: 30px;}
#cssmenu > ul > li{float:left;z-index:1000;}
#cssmenu > ul > li > a{padding:8px 18px;font-size:20px; display:block; text-decoration:none; text-transform: capitalize; font-weight:400; color:#4a3333; font-family: 'Arima', cursive;}
#cssmenu ul li.active a{background-color: #09c8da; color:#fff; border-radius: 40px;}
#cssmenu > ul > li:hover > a{border-radius: 40px;}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#4a3333;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#4a3333;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px;background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 0 8px 11px 4px rgb(158 158 158 / 10%);
    -webkit-box-shadow: 0 8px 11px 4px rgb(158 158 158 / 10%);
    border-radius: 0px 0px 5px 5px;  padding-bottom:8px !important;}
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
#cssmenu li:hover > ul{left:auto}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0; border-radius:3px; padding-bottom:8px !important;}
#cssmenu ul ul li a{padding:15px 10px; width:200px; font-size:16px; text-decoration:none; color:#4a3333; font-weight:500; text-align:left;
    border-bottom-width: 1px;
    border-bottom-color: #f1f1f1;
    border-bottom-style: solid;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#4a3333;}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#4a3333;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#4a3333;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#fff; color:#4a3333;}
#cssmenu ul ul ul li.active a{border-left:1px solid #4a3333;}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #1c1d18;}

@media screen and (max-width:1000px){
.header_topbar header{padding:15px 0px 10px 0px !important; margin-top:20px;}
header{background:#d50751; font-family: 'Arima', cursive; padding:10px 0px; margin-top:0px;}
nav{width:100%; background:#d50751;}
#cssmenu{width:100%;}
#cssmenu ul{width:100%;display:none; background:#d50751; margin-top:10px; padding-left:0px;}
#cssmenu ul li{width:100%;border-top:1px solid #ccc; background:#d50751;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{background-color: #09c8da; color:#fff; border-radius: 0px;}
#cssmenu > ul > li > a{padding:17px;font-size:16px; display:block; text-decoration:none; text-transform:uppercase;font-weight:600; color:#fff; font-family: 'Arima', cursive; text-align:left;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#fff;}
#cssmenu ul li:hover{background:#ccc;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto;}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0;background:#d50751;}
#cssmenu > ul > li{float:none}
#cssmenu ul ul{position:absolute; left:-9999px; background: #d50751 none repeat scroll 0 0;
    box-shadow: none;
    -webkit-box-shadow: 0 8px 11px 4px rgb(158 158 158 / 10%);
    border-radius: 0px 0px 5px 5px;  padding-bottom:0px !important;}
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li{background: #d50751;  /* fallback for old browsers */}
#cssmenu ul ul li:hover{background:#d50751!important; color:#fff;}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#fff; background:none; font-size: 15px;}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:15px;font-weight:700}
.button{width:55px;height:46px;position:absolute;right:0;top:0;cursor:pointer;z-index: 12399994; margin-top:0px; background:#d50751;}
.button:after{position:absolute;top:22px;right:20px;display:block;height:4px;width:20px;border-top:2px solid #fff;border-bottom:2px solid #fff;content:''}
.button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#fff;content:''}
.button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.button.menu-opened:before{top:23px;background:#fff;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #fff;height:46px;width:46px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#d50751;}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:22px;right:19px;width:8px;height:2px;display:block;background:#fff;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:19px;right:22px;display:block;width:2px;height:8px;background:#fff;content:''}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
}

.header_topbar em.tag {
    background-color: #d8000c;
    color: #fff;
    font-size: 8px;
    padding: 1px 5px;
    position: absolute;
    top: -6px;
    right: 12px;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal;
    /* width: fit-content; */
    border-radius: 40px;
}
.header_topbar .hot{animation: blinker 4s linear infinite;}
@keyframes blinker{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}
.header_topbar em.tag:after {
    content: '';
    position: absolute;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #d8000c;
    bottom: -10px;
    right: 6px;
    z-index: -1;
    transform: rotate(25deg);
}
.header_topbar svg {
    height: 40px;
    width: 30px;
}
.header_topbar .icon{padding-left: 20px;}
.header_topbar .count{
    font-family: 'Arima', cursive;
    top: -45px;
    right: -40px;
    position: relative;
    border-radius: 50%;
    font-size: 16px;
    width: 18px;
    height: 18px;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #d50751;
    color: #fff;
}

.pl{padding-left:0px !important;} .pr{padding-right:0px !important; }
/***********============================================== header_topbar =====================================================***********/

/***********============================================== slider =====================================================***********/
@media only screen and (max-width: 600px) {
    .slider{margin-top:0px;} 
    .slider .carousel-caption h6{width:100%; font-size: 20px; line-height: 30px;}
    .slider_text{padding-top:80px;} 
    .slider .carousel-caption h2{font-size: 30px; line-height: 40px;}
}
@media only screen and (min-width: 600px) {
    .slider{margin-top:0px;} 
    .slider .carousel-caption h6{width:100%; font-size: 20px; line-height: 30px;}
    .slider_text{padding-top:80px;} 
    .slider .carousel-caption h2{font-size: 30px; line-height: 40px;}
}
@media only screen and (min-width: 768px) {
    .slider{margin-top:-180px;} 
    .slider .carousel-caption h6{width:100%; font-size: 35px; line-height: 42px;}
    .slider_text{padding-top:80px;} 
    .slider .carousel-caption h2{font-size: 40px; line-height: 50px;}
} 
@media only screen and (min-width: 992px) {
    .slider{margin-top:-180px;} 
    .slider .carousel-caption h6{width:100%; font-size: 50px; line-height: 46px;}
    .slider_text{padding-top:120px;} 
    .slider .carousel-caption h2{font-size: 60px; line-height: 70px;}
} 
@media only screen and (min-width: 1200px) {
    .slider{margin-top:-180px;} 
    .slider .carousel-caption h6{width:100%; font-size: 50px; line-height: 46px;} 
    .slider_text{padding-top:120px;} 
    .slider .carousel-caption h2{font-size: 80px; line-height: 90px;}
}
@media only screen and (min-width: 1500px) {
    .slider{margin-top:-180px;} 
    .slider .carousel-caption h6{width:100%; font-size: 50px; line-height: 46px;} 
    .slider_text{padding-top:120px;} 
    .slider .carousel-caption h2{font-size: 80px; line-height: 90px;}
}
.slider {position:relative; z-index:9;}
.slider .carousel-caption{
	top:28%;
	position:absolute;
	left:3%;
	right:3%;
	width:100%;
}
.slider .overlay:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.80196) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.80196) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.80196) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.8;
    z-index: 1;
}
.slider .carousel-caption h6{
	font-family: 'Caveat', cursive;
    position: relative;
    display: block;
    font-weight: 400;
    color: #09c8da;
    margin-bottom: 0px;
    animation: 1.3s ease 0s normal none 1 running zoomIn;
}
.slider .carousel-caption h2{
    font-family: 'Mitr', sans-serif;
    color: #d50751;
    font-weight: 800;
    margin-bottom: 20px;
    animation: 1.3s ease 0s normal none 1 running zoomIn;
}
.slider .carousel-caption p{
	font-family: 'Arima', cursive;
	color: #4a3333;
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0 30px 0!important;
    animation: 1.3s ease 0s normal none 1 running zoomIn;
}
.slider .carousel-caption .btn{
	font-family: 'Arima', cursive;
	color: #fff;
    display: inline-block;
    background: #d50751;
    padding: 14px 40px 10px 40px;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
	margin-top:20px;
    border-radius: 40px;
}
.slider .carousel-caption .btn:hover{
    background-color: #09c8da;
	color:#fff !important;
}
.slider .carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 1.7s;
    left: 0;
    top: 0;
    position: absolute;
}
.slider .carousel.carousel-fade .carousel-item.active {opacity: 1 !important;}
.slider .carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.slider .carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 1.7s;
}
.slider .carousel-item .img-fluid {margin: 0 auto; width:100% !important;}
/***********============================================== slider =====================================================***********/

/***********============================================== section1 =====================================================***********/
@media only screen and (max-width: 600px) {.section1{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 600px) {.section1{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 768px) {.section1{padding:50px 30px 80px 30px; text-align: left;}} 
@media only screen and (min-width: 992px) {.section1{padding:50px 50px 80px 50px; text-align: left;}} 
@media only screen and (min-width: 1200px) {.section1{padding:50px 100px 80px 100px; text-align: left;}}
@media only screen and (min-width: 1500px) {.section1{padding:50px 160px 80px 160px; text-align: left;}}
.section1 .mt30{margin-top:30px;}
.section1 .mt15{margin-top:15px;}
.section1 h6{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #09c8da;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.section1 h2{
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #d50751;
}
.section1 img{padding: 20px; background-color: #fff;}
.section1 .block:hover img{background-color: #fff0f2;}
.section1 .content{padding: 25px 20px;}
.section1 h4{
    font-family: 'Mitr', sans-serif;
    font-size: 26px;
    line-height: 34px;
    color: #d50751;
    font-weight: 600;
}
.section1 h4:hover{color: #09c8da;}
.section1 p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    font-weight: 500;
    color: #4a3333;
    margin-bottom: 20px;
    line-height: normal;
}
.section1 .readmore{
    font-family: 'Arima', cursive;
    padding: 5px 25px;
    border-radius: 40px;
    font-weight: 600;
    background: #feebec;
    color: #4a3333;
}
.section1 .readmore:hover{
    background: #09c8da;
    color: #fff;
}
/***********============================================== section1 =====================================================***********/

/***********============================================== section2 =====================================================***********/
@media only screen and (max-width: 600px) {.section2{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 600px) {.section2{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 768px) {.section2{padding:50px 30px 80px 30px; text-align: left;}} 
@media only screen and (min-width: 992px) {.section2{padding:50px 50px 80px 50px; text-align: left;}} 
@media only screen and (min-width: 1200px) {.section2{padding:50px 100px 80px 100px; text-align: left;}}
@media only screen and (min-width: 1500px) {.section2{padding:50px 160px 80px 160px; text-align: left;}}
.section2{background: url(../images/section2back.jpg) no-repeat top/cover; margin-top: 30px;}
.section2 .mt30{margin-top:30px;}
.section2 .mt15{margin-top:15px;}
.section2 h6{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #09c8da;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.section2 h2{
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #d50751;
}
.section2 h4{
    font-family: 'Mitr', sans-serif;
    font-size: 36px;
    color: #d50751;
    margin-bottom: 30px;
    line-height: 60px;
    font-weight: 700;
}
.section2 h5{
    font-family: 'Arima', cursive;
    color: #4a3333;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
}
.section2 p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #4a3333;
    margin: 0 0 10px;
    margin-bottom: 20px;
}
/***********============================================== section2 =====================================================***********/

/***********============================================== section3 =====================================================***********/
@media only screen and (max-width: 600px) {.section3{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 600px) {.section3{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 768px) {.section3{padding:50px 30px 80px 30px; text-align: left;}} 
@media only screen and (min-width: 992px) {.section3{padding:50px 30px 80px 30px; text-align: left;}} 
@media only screen and (min-width: 1200px) {.section3{padding:50px 50px 80px 50px; text-align: left;}}
@media only screen and (min-width: 1500px) {.section3{padding:50px 100px 80px 100px; text-align: left;}}
.section3{background: url(../images/section3back.png) no-repeat top/cover;}
.section3 .mt30{margin-top:30px;}
.section3 .mt15{margin-top:15px;}
.section3 h4{
    font-family: 'Mitr', sans-serif;
    color: #d50751;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.section3 p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #4a3333;
    margin: 0 0 10px;
}
/***********============================================== section3 =====================================================***********/

/***********============================================== section4 =====================================================***********/
@media only screen and (max-width: 600px) {.section4{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 600px) {.section4{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 768px) {.section4{padding:50px 30px 80px 30px; text-align: left;}} 
@media only screen and (min-width: 992px) {.section4{padding:50px 50px 80px 50px; text-align: left;}} 
@media only screen and (min-width: 1200px) {.section4{padding:50px 100px 80px 100px; text-align: left;}}
@media only screen and (min-width: 1500px) {.section4{padding:50px 160px 80px 160px; text-align: left;}}
.section4{background: url(../images/section4back.png) no-repeat top/cover; margin-top: 30px;}
.section4 .mt30{margin-top:30px;}
.section4 .mt15{margin-top:15px;}
.section4 h6{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #09c8da;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.section4 h2{
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #d50751;
}
.section4 .block{
    border-radius: 10px 150px 150px 10px;
    width: 100%;
    position: relative;
    padding: 20px;
    background-image: url(../images/backshape.png);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center left;
}
.section4 .block:before{
    content: "";
    background: rgba(0,0,0,0);
    background: rgba(0,0,0,0);
    transition: all 0.3s linear;
    opacity: 0;
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    width: auto;
    height: auto;
}
.section4 .block1{background-color: #d8f9cf;}
.section4 .block2{background-color: #ffedcf;}
.section4 .block3{background-color: #ede4f3;}
.section4 .block4{background-color: #ffe2e4;}
.section4 .block5{background-color: #ffe4cf;}
.section4 .content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    z-index: 1;
    padding: 20px 0px;
}
.section4 .image{
    width: 150px;
    background: #fff;
    border-radius: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
}
.section4 .image img {
    height: 135px;
    margin-top: 7px;
    text-align: center;
    image-rendering: -webkit-optimize-contrast;
}
.section4 h5{
    font-family: 'Mitr', sans-serif;
    color: #d50751;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section4 h5 a{color: #d50751;}
.section4 p{
    font-family: 'Arima', cursive;
    color: #4a3333;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 0px;
}
.section4 .price a{
    font-family: 'Arima', cursive;
    padding: 5px 20px 0px;
    font-size: 16px;
    background: #fff;
    border-radius: 40px;
    color: #4a3333;
    margin-bottom: 10px;
}
/***********============================================== section4 =====================================================***********/

/***********============================================== section5 =====================================================***********/
@media only screen and (max-width: 600px) {.section5{padding:50px 20px 80px 20px; text-align: left;}}
@media only screen and (min-width: 600px) {.section5{padding:50px 20px 80px 20px; text-align: left;}}
@media only screen and (min-width: 768px) {.section5{padding:50px 15px 80px 15px; text-align: left;}} 
@media only screen and (min-width: 992px) {.section5{padding:50px 15px 80px 15px; text-align: left;}} 
@media only screen and (min-width: 1200px) {.section5{padding:50px 15px 80px 15px; text-align: left;}}
@media only screen and (min-width: 1500px) {.section5{padding:50px 15px 80px 15px; text-align: left;}}
.section5{ margin-top: 30px;}
.section5 .mt30{margin-top:30px;}
.section5 .mt15{margin-top:15px;}
.section5 .post-slide{margin: 0 10px;}
.section5 .block{
    overflow: hidden;
    background-color: #ffeaed;
}
.section5 .overlay{position: relative;}
.section5 .block .overlay:after{
    background-image: url(../images/overlaybg.jpg);
    content: '';
    width: 103%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    /* top: 0; */
    opacity: 0;
    background-size: cover;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transition: all 0.3s linear;
}
.section5 .block:hover .overlay:after{opacity: 1;}
.section5 .content{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.section5 .text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 40px 40px 40px;
}
.section5 h2{
    font-family: 'Mitr', sans-serif;
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    color: #d50751;
    margin-bottom: 20px;
}
.section5 h2 span{font-size: 22px;}
.section5 .block:hover h2, .section5 .block:hover h2 span{color: #fff}
.section5 p{
    font-family: 'Arima', cursive;
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 0px;
    opacity: 0;
}
.section5 .block:hover p{opacity: 1;}
.section5 .btn{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    border: 1px solid currentcolor;
    font-size: 56px;
    /* line-height: 58px; */
    position: relative;
    background: none;
    color: #fff;
    margin-top: 30px;
    border-radius: 40px;
}
/***********============================================== section5 =====================================================***********/

/***********============================================== section6 =====================================================***********/
@media only screen and (max-width: 600px) {.section6{padding:50px 20px 80px 20px; text-align: center;} .section6 .brdr img{width: 40%; height: 70%;}}
@media only screen and (min-width: 600px) {.section6{padding:50px 20px 80px 20px; text-align: center;} .section6 .brdr img{width: 40%; height: 70%;}}
@media only screen and (min-width: 768px) {.section6{padding:50px 30px 80px 30px; text-align: left;} .section6 .brdr img{width: 70%; height: 100%;}} 
@media only screen and (min-width: 992px) {.section6{padding:50px 50px 80px 50px; text-align: left;} .section6 .brdr img{width: 100%; height: 100%;}} 
@media only screen and (min-width: 1200px) {.section6{padding:50px 100px 80px 100px; text-align: left;} .section6 .brdr img{width: 100%; height: 100%;}}
@media only screen and (min-width: 1500px) {.section6{padding:50px 160px 80px 160px; text-align: left;} .section6 .brdr img{width: 100%; height: 100%;}}
.section6 .mt30{margin-top:30px;}
.section6 .mt15{margin-top:15px;}
.section6 h6{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #09c8da;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.section6 h2{
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #d50751;
    margin-bottom: 40px;
}
.section6 p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #4a3333;
    margin: 0 0 10px;
}
.section6 .brdr{margin-top:40px; padding-bottom: 30px; border-top: 2px solid #d50751; border-bottom: 2px solid #d50751;}
/***********============================================== section6 =====================================================***********/

/***********============================================== section7 =====================================================***********/
@media only screen and (max-width: 600px) {.section7{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 600px) {.section7{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 768px) {.section7{padding:50px 30px 80px 30px; text-align: left;}} 
@media only screen and (min-width: 992px) {.section7{padding:50px 50px 80px 50px; text-align: left;}} 
@media only screen and (min-width: 1200px) {.section7{padding:50px 100px 80px 100px; text-align: left;}}
@media only screen and (min-width: 1500px) {.section7{padding:50px 160px 80px 160px; text-align: left;}}
.section7{background: url(../images/section7back.jpg) no-repeat top/cover; margin-top: 40px;}
.section7 .mt30{margin-top:30px;}
.section7 .mt15{margin-top:15px;}
.section7 h6{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #09c8da;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.section7 h2{
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #d50751;
    margin-bottom: 40px;
}
.section7 .post-slide{
    text-align: center;
    margin: 70px auto 0px auto;
}
.section7 .sec7{
    background: url(../images/sec7.png) no-repeat top/cover;
    color: #4a3333;
    border-radius: 10px;
    padding: 0px 65px 40px 65px;
    text-align: center;
    position: relative;
    z-index: 9;
}
.section7 h4{
    font-family: 'Arima', cursive;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    color: #4a3333;
    margin: 0 0 10px;
}
.section7 h5{
    font-family: 'Mitr', sans-serif;
    display: block;
    font-weight: 700;
    font-size: 24px;
    color: #d50751;
    margin-top: 40px;
}
.section7 p{
    font-family: 'Arima', cursive;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #4a3333;
    margin: 0 0 10px;
}
.section7 .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin-top: -40px;
    margin-bottom: 50px;
    overflow: hidden;
    z-index: 99;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.section7 .pic img{
    width: 100%;
    height: auto;
}
/***********============================================== section7 =====================================================***********/

/***********============================================== section8 =====================================================***********/
.section8 .mt30{margin-top:30px;}
.section8 .mt15{margin-top:15px;}
.sec8{padding: 0 15px; margin-top: 30px;}
/***********============================================== section8 =====================================================***********/

/***********============================================== section9 =====================================================***********/
@media only screen and (max-width: 600px) {.section9{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 600px) {.section9{padding:50px 20px 80px 20px; text-align: center;}}
@media only screen and (min-width: 768px) {.section9{padding:50px 30px 80px 30px; text-align: center;}} 
@media only screen and (min-width: 992px) {.section9{padding:50px 50px 80px 50px; text-align: center;}} 
@media only screen and (min-width: 1200px) {.section9{padding:50px 100px 80px 100px; text-align: center;}}
@media only screen and (min-width: 1500px) {.section9{padding:50px 160px 80px 160px; text-align: center;}}
.section9 .mt30{margin-top:30px;}
.section9 .mt15{margin-top:15px;}
.section9 .post-slide{margin: 0 15px;}
.section9 img{border-radius: 40px;}
/***********============================================== section9 =====================================================***********/

/***********============================================== footer =====================================================***********/
@media only screen and (max-width: 600px) {.footer{padding:50px 20px 80px 20px;} .footer-copy {padding: 20px 10px 110px 10px;}}
@media only screen and (min-width: 600px) {.footer{padding:50px 20px 80px 20px;} .footer-copy {padding: 20px 10px 110px 10px;}}
@media only screen and (min-width: 768px) {.footer{padding:50px 20px 80px 20px;} .footer-copy {padding: 22px 10px 45px 10px;}} 
@media only screen and (min-width: 992px) {.footer{padding:50px 50px 80px 50px;} .footer-copy {padding: 22px 50px 45px 50px;}} 
@media only screen and (min-width: 1200px) {.footer{padding:50px 100px 80px 100px;} .footer-copy {padding: 22px 100px 45px 100px;}}
@media only screen and (min-width: 1500px) {.footer{padding:50px 160px 80px 160px;} .footer-copy {padding: 22px 150px 45px 150px;}}
.footer{background: url(../images/footerback.png) no-repeat top/cover;}
.footer .mt30{margin-top:30px;}
.footer .mt15{margin-top:15px;}
.footer h3{
	font-family: 'Mitr', sans-serif;
	color: #d50751;
    font-size: 24px;
	line-height:26px;
    font-weight: 600;
	margin-bottom:30px;
}
.footer p{
	font-family: 'Arima', cursive;
    font-size: 18px;
    font-weight: 400;
	color: #4a3333;
	line-height:25px;
	margin-bottom:10px;
}
.footer .social{margin-top:10px;}
.footer .social li{
	display:inline-block;
	line-height:28px;
	padding:0 3px;
}
.footer .social li .fa{ 
	color: #fff;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #343434;
    border-radius: 50%;
    line-height: 40px;
	margin-bottom:20px;
}
.footer .social li:hover .fa{background-color: #d50751;}
.footer .cnct li{
	margin-bottom: 10px;
	list-style:none;
}
.footer .cnct li .flaticon{
	color: #4a3333;
    font-size: 20px;
	margin-top:0px;
    margin-right: 10px;
}
.footer .cnct li .city {
	font-family: 'Arima', cursive;
    margin-left: 0px;
	margin-bottom:5px;
	margin-top:0px;
	padding:0;
	color: #4a3333;
}
.footer .cnct li a{color: #4a3333;}
.footer .links li{
	font-family: 'Arima', cursive;
    font-size: 18px;
    font-weight: 400;
    color: #4a3333;
	line-height:34px;
	margin-bottom:10px;
	list-style:none;
	position: relative;
    padding-left: 0px;
}
.footer .links li a{color: #4a3333;}
.footer .img li{list-style: none; display: inline-block; margin-right: 10px;}
.footer-copy {
    background: #ffeaed;
	border-top:1px solid #ffeaed;
    font-family: 'Arima', cursive;
	font-size:19px;
    font-weight: 500;
	margin:0;
}
.footer-copy p {
    color: #4a3333;
    text-align: left;
}
.footer-copy p a {color: #4a3333;}
/***********============================================== footer =====================================================***********/