/***********============================================== slider =====================================================***********/
#mainSlider .caption{
	top:50%;
	position:absolute;
	left:0%;
	text-align:center;
	margin:0 auto;
}
#mainSlider .bn{ margin:0 auto; text-align:center;}
#mainSlider .mt30{margin-top:37px;}
#mainSlider .fr{float:right;}
#mainSlider .fl{float:left;}
#mainSlider h6{
	font-size: 40px;
    font-weight: 700;
    color: #fff;
	line-height: 1.7;
    margin: 0px;
    font-family: "Poppins",sans-serif;
}
#mainSlider h6 span {
	color: #ffc600;
	letter-spacing: -5px;
	font-weight:500;
	font-size:20px;
}
#owl-main .item {
  height: 44vh;
  background-color: #FFF;
  background-position: center 55%;
  background-size: cover;
}
#owl-main.height-md .item {height: 50vh;}
/*#owl-main.height-sm .item {
  height: 60vh;
}*/
#owl-main.height-lg .item {height: 50vh;}
#owl-main .container {
  display: table;
  height: inherit;
}
#owl-main .caption {display: table-cell;}
#owl-main .caption.vertical-center {
  vertical-align: middle;
  padding-bottom: 3vh;
}
#owl-main .caption.vertical-top {vertical-align: top;}
#owl-main .caption.vertical-bottom { vertical-align: bottom; padding-bottom: 14vh;}
#owl-main .caption.text-center {padding-left: 10%; padding-right: 10%;}
#owl-main .caption.text-left {padding-right: 20%;}
#owl-main .caption.text-right {padding-left: 20%;}
#owl-main .caption h1, #owl-main .caption p, #owl-main .caption div {position: relative;}
.owl-controls{ display:none;}
.owl-controls .owl-buttons div{ display:none;}
/***********============================================== slider =====================================================***********/