/***********============================================== slider =====================================================***********/
#mainSlider .caption{
	top:20%;
	position:absolute;
	left:0%;
	text-align:center;
	margin:0 auto;
}
#mainSlider .bn{ margin:0 auto; text-align:center;}
#mainSlider .mt30{margin-top:37px;}
#mainSlider .fr{float:right;}
#mainSlider .fl{float:left;}
#mainSlider h6 {
	font-family: 'Heebo', sans-serif;
    font-size: 25px;
    line-height: 70px;
	font-weight: 500;
	color: #fff;
	text-align:center;
	margin-bottom:20px;
	text-transform:capitalize;
}
#mainSlider hr {
    border-top: 2px solid #fff;
    margin: 40px 0px 30px 0px;
    width: 150px;
}
#mainSlider h1 {
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
	font-size: 100px;
    line-height: 130px;
	color:#fff;
	text-align:center;
}
#mainSlider h1 span{
	 font-weight: 800;
}
#mainSlider .btn{
	font-weight: 700;
    background-color: #ffc600;
    color: #111111;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform:capitalize;
    text-align: center;
	border-radius:50px;
    margin: 0px auto;
    padding: 0 45px;
    line-height: 65px;
    font-size: 15px;
    margin-top: 40px;
}
#mainSlider .btn a{color:#fff;}
#mainSlider .btn:hover{background-color: #13277d; color:#fff;}
#mainSlider .btn1{
	background-color:#fff;
	color:#222;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform:capitalize;
    text-align: center;
	border: 1px solid #fff;
	border-radius:50px;
	margin-top:40px;
    padding: 22px 45px;
    line-height: 65px;
    font-size: 15px;
}
#mainSlider .btn1 a{color:#fff;}
#mainSlider .btn1:hover{background-color: #13277d; color:#fff;}

#owl-main .item {
  height: 44vh;
  background-color: #FFF;
  background-position: center 55%;
  background-size: cover;
}
#owl-main.height-md .item {height: 130vh;}
/*#owl-main.height-sm .item {
  height: 60vh;
}*/
#owl-main.height-lg .item {height: 150vh;}
#owl-main .container {
  display: table;
  height: inherit;
}
#owl-main .caption {display: table-cell;}
#owl-main .caption.vertical-center {
  vertical-align: middle;
  padding-bottom: 3vh;
}
#owl-main .caption.vertical-top {vertical-align: top;}
#owl-main .caption.vertical-bottom { vertical-align: bottom; padding-bottom: 14vh;}
#owl-main .caption.text-center {padding-left: 10%; padding-right: 10%;}
#owl-main .caption.text-left {padding-right: 20%;}
#owl-main .caption.text-right {padding-left: 20%;}
#owl-main .caption h1, #owl-main .caption p, #owl-main .caption div {position: relative;}
.owl-controls{ display:none;}
.owl-controls .owl-buttons div{ display:none;}
/***********============================================== slider =====================================================***********/